[Tt]est.html
[Ww]eb/Uct/
[Tt]est_phantomjs.html
#ignore thumbnails created by windows
Thumbs.db
#Ignore files built by Visual Studio
*.apk
*.obj
*.mdf
*.MDF
*.ldf
*.LDF
*.exe
*.exp
*.ipa
*.pdb
*.user
*.aps
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in/
[Dd]ebug/
*.lib
*.sbr
[Tt][Ll][Bb]/
![Gg]en/
obj/
[Rr]elease/
[Tt]est[Rr]esults/
*.patch
*.vsmdi
*.opendb
*.VC.db
*.vs/

SiteRoot.Publish.xml
VersionInfo.cs
*/VersionInfo.cs
*.VersionInfo.rc
!Ultimo.Shared/Tools/VersionInfo.cs

# ignore installshield output files
PROJECT_ASSISTANT/
DvdRelease/
Interm/

# ignore (generated) screen files
[Hh]elp/
[Tt]emp/

# local configuration
*.[Ll]ocal.[Cc]onfig
[Pp]recompiled[Ww]eb/

# generated javascripts
app.jsb3
[Rr]esource_*.js
![Rr]esource_nl.js
![Rr]esource_system.js
[Tt]exts_*.js
![Tt]exts_nl.js
![Tt]exts_system.js
![Tt]exts_uct.js

# javascript code coverage
[Ii]nstrumented/

# reports and vbscripts
[Rr]eports/*.rpt
[Ww]eb/[Ss]iteRoot/[Rr]eports/*/*/*.*
[Vv]bs/*.vbs
[Ww]eb/SiteRoot/[Vv][Bb][Ss]/*/*.*
[Ww]eb/SiteRoot/sc1/Screens/NL/*.*
[Ww]eb/SiteRoot/sc1/Screens/NL/*/*.*
[Ww]eb/SiteRoot/[Uu]ct/

# Config directory
SiteRoot/[Cc]onfig*/
Web/SiteRoot/[Cc]onfig*/

# ExtJs gen directory
SiteRoot/[Ee]xt/[Gg]en/
Web/SiteRoot/[Ee]xt/[Gg]en/
Web/M/

# merge files
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# ultraedit temp. html files
*~ue.html

!ExternalFilesNeeded*/
!Interop.CRAXDRT.dll

[Ss]ite[Rr]oot/[Tt]emp*/
fxcop-result.xml
[Ll]ocal.[Ff]x[Cc]op

# jetbrains
*.[Rr]e[Ss]harper
\.idea/
_ReSharper*/


[Dd]ataService.[Cc]onfig
#ignore (generated) screen files
Web/SiteRoot/[Ss]creens*/
[Uu]pload/
coverage.bat

[Cc]ustom.css

#Ignore output from documentation generator
[Hh]elp[Dd]ocumentation/
[Bb]uildhelp/
Ultimo/Documention/Help/html
BigConfigFile
CoffeeMachines.xml
Lib/NHibernate.XML
NotSignedLicense.lic
SavedLicense.lic
TestArraySerializer.xml
XmlCoffeeMachineCleanupTest.xml
XmlCoffeeMachineTest.xml
XmlTest.xml
XmlTestUltimoTypes.xml


!Lib/Teigha/*/*/*
!SandcastleGUI.exe

#generated message files
Messages.sql
Messages_ora.sql

*.Config
Framework/Parser/Parser.h

!Ultimo.DeployActions.DAMaster.dll
Ultimo.DeployActions.DA10_30_XX.dll
!UltimoDevelopmentManagementTool.exe
UltimoDevelopmentManagementTool.vshost.exe.manifest
!Tools/DeployActions/Source/Ultimo.DeployActions/*.Config

Web/SiteRoot/UCTool/*

# Compressed, obfuscated javascript
*-min.js

# Compressed css
*-min.css
*.csv
Scripts/Script_mssql_gen.sql
Scripts/Script_ora_gen.sql
Scripts/completescript.sql
Scripts/MasterData_mssql.sql
Scripts/MasterData_mssql_*.sql
Scripts/MasterData_ora.sql
Scripts/MasterData_ora_*.sql
Scripts/Structure/Gen/*.*
Scripts_Specific/
*.sdf
*.opensdf
Scripts_Specific/
*.xap
udmt.xml

# Sass
.sass-cache/

!/Services/WorkflowService/Ultimo.Services.WorkflowService.Test.WorkFlow/Debug/

/Services/DataService/Ultimo.Services.DataSet.Test/FileServiceMock/Documenten
/Services/DataService/Ultimo.Services.DataSet.Test/FileServiceMock/Images
/Services/DataService/Ultimo.Services.DataSet.Test/FileServiceMock/Reports
/Services/DataService/Ultimo.Services.DataSet.Test/FileServiceMock/StateMachine

Scripts/completescript_ora.sql
!Services/ArchiveService/Ultimo.Services.ArchiveService.Test/test.zip
*.ipch
Scripts/Structure/Gen/Framework_Messages.sql
Scripts/Structure/Gen/Labels.sql
Web/SiteRoot/sc1/
ScreensSc1/*

Coverage/
CodeCoverage/
.sonarqube/
.sonar/
sonar-project.properties
!Ultimo.SonarRunnerHelper.PropertiesGenerator.exe
!Ultimo.SonarRunnerHelper.SolutionMerger.exe
!Ultimo.SonarRunnerFixStyleCopReferences.exe

Settings.StyleCop
!/Settings.StyleCop
!/Lib/StyleCop/*
StyleCop.Cache

*.dbg
*.inx
*.obs
Tools/SonarRunnerHelper/Ultimo.SonarRunnerHelper.PropertiesGenerator.vshost.exe.manifest
Installer/Ultimo.Installer.InstallShield/Ultimo.Installer.InstallShield/String1033.txt
FileServiceData/
Scripts/Script_oracle_gen.sql

Web/SiteRoot/Mobile/
Scripts/1000_*.sql
Scripts/GenerateSelfService*
Scripts/GenerateUpdateScript*
Scripts/SelfService_*.sql
Scripts/Structure/Explorers/
Scripts/Structure/ExplorerLinks/
Scripts/Structure/SelectionLists/
* - kopie.*
*.DS_Store
*.lastcodeanalysissucceeded
*.CodeAnalysisLog.xml
exceptions.txt
*.playlist
Ultimo.Framework.VC.db

Databases/
FileServiceData/
/Uct/
lastactivity
startedby
comments
Services/FileService/Config/users.xml
[Tt]ranslations/ToTranslate*.xml
[Tt]ranslations/[Tt]ranslation[Ll]og.txt
[Tt]ranslations/[Dd]b[Tt]ranslation[Ll]og.txt
[Tt]ranslations/[Dd]atabase[Tt]ranslation[Ll]og.txt
[Tt]ranslations/[Vv]alidation[Rr]esult.txt
Translations/databasetranslationlog.txt
Translations/ValidationResult.txt

Web/SiteRoot/scripts/apidocs/
Web/SiteRoot/scripts/sassdocs/
Web/SiteRoot/scripts/coverage/
Web/SiteRoot/scripts/jshint.xml
Web/SiteRoot/scripts/tests/screens/gen
Web/SiteRoot/scripts/tests/gen
Web/SiteRoot/scripts/test-results.xml

# do not ignore app.config for translation tool
![Aa]pp.config
Web/SiteRoot/ultimo.framework.web/sassdocs/
Web/SiteRoot/ultimo.framework.web/coverage/
Web/SiteRoot/ultimo.framework.web/assets/gen/
Web/SiteRoot/ultimo.framework.web/jshint.xml
Web/SiteRoot/ultimo.framework.web/test-results.xml
Web/SiteRoot/ultimo.framework.web/TESTS-*.xml
Web/SiteRoot/ultimo.framework.web/uct-all.js
Web/SiteRoot/ultimo.framework.web/uct-all.js.map
Web/SiteRoot/ultimo.framework.web/*.css
Web/SiteRoot/ultimo.framework.web/assets/css/_*.css
Web/SiteRoot/ultimo.framework.web/assets/css/styles.css
deployedby
Scripts/Structure/Explorers/*
Scripts/Structure/ExplorerLinks/*
Services/ServiceHost/Config/users.xml

#Everything here should be able to be added
!UltimoDataFile/**
UltimoDataFile_Translated/
!UltimoDataFile_Full/**
UltimoDataFile_Full_Translated/
!UltimoDataFile_Lite/**
UltimoDataFile_Lite_Translated/

# Generated Icon Font output
Web/SiteRoot/assets/fonticons/custom/
Web/SiteRoot/assets/fonticons/gen/
Web/SiteRoot/ultimo.framework.web/assets/fonts/ultimo-application/
Web/SiteRoot/ultimo.framework.web/assets/fonts/ultimo-system/
Web/SiteRoot/ultimo.framework.web/assets/webfonts/ultimo-application/
Web/SiteRoot/ultimo.framework.web/assets/webfonts/ultimo-system/
UltimoDataFile/IconFonts/*
UltimoDataFile/Icons/*

#Temp
UltimoDataFile/Translations/ValidationResult.txt
UltimoDataFile/Translations/databasetranslationlog.txt
UltimoDataFile/Translations/dbtranslationlog.txt
UltimoDataFile/Translations/translationlog.txt
UltimoDataFile/Translations/untranslated.txt

Process/UserInterface/DataEntry/Ultimo.Process.UserInterface.DataEntry/Ultimo.Process.UserInterface.DataEntry.csproj.DotSettings
Web/Ultimo.Web.Core/Ultimo.Web.Core.csproj.DotSettings

!UltimoGo/**
.sass-cache
UltimoGo/Ultimo/bootstrap.*
UltimoGo/Ultimo/resources/css/app.css
UltimoGo/touch/resources/css/app.css
UltimoGo/build/
UltimoGo/Ultimo/cordova/www/
!UltimoGo/Ultimo/cordova/platforms/*/**
UltimoGo/Ultimo/cordova/platforms/ios/build/
UltimoGo/Ultimo/cordova/platforms/ios/www/**
UltimoGo/Ultimo/cordova/platforms/android/assets/www/**
UltimoGo/Ultimo/cordova/platforms/android/build/**
UltimoGo/Ultimo/cordova/platforms/android/ant-build/**
UltimoGo/Ultimo/cordova/platforms/android/ant-gen/**
.DS_Store
.idea
Web/Ultimo.Web.Core/Ultimo.Web.Core.csproj.DotSettings
fxcop.no
ffxcop.no
/packages
Process/UserInterface/DataEntry/Ultimo.Process.UserInterface.DataEntry/Ultimo.Process.UserInterface.DataEntry.csproj.DotSettings
Scripts/Mssql/ChangeCollation_*.sql

# ignore generated sassdoc
sassdoc/
Framework/Core/Ultimo.Framework.Core/Ultimo.Framework.Core.csproj.DotSettings
# from scss generated css files
Web/SiteRoot/Css/*.css
Web/SiteRoot/ultimo.framework.web/core/sass/styles.css
Web/Ultimo.Test/Ultimo.Web.Controller.Test/Ultimo.Web.Controller.Test.csproj.DotSettings
Resharper.DotSettings
Ultimo.Framework.VC.opendb
*.iconlist
*.css.map
Web/SiteRoot/ultimo.framework.web/assets/css/*.css
Web/SiteRoot/ultimo.framework.web/total.scss
Web/SiteRoot/assets/styles/total.scss

# temp merge files
*.orig
Scripts/Structure/DefaultScreens.xml

# nightwatch
[Nn]ight[Ww]atch*/

